@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    background: linear-gradient(to right, rgb(252, 92, 125), rgb(106, 130, 251));
    font-family: 'Montserrat',sans-serif;
    text-align: center;
}

.btn-container label{
    font-size: 1.2rem;
}

.btn-container input[type='number']{
    margin-top:0.5em;
    font-size:1.1rem;
    padding:0.7em;
    border-radius: 1.3em;
    border: none;
}

#startButton{
    margin-top:0.9em;
    width: 50%;
    padding:0.7em;
    font-size: 1.3rem;
    border: none;
    border-radius: 1.3em;
    cursor: pointer;
}

#startButton:hover{
    background: radial-gradient(circle at 4.3% 10.7%, rgb(138, 118, 249) 13.6%, rgb(75, 252, 235) 100.7%);
    color:white;
}

#timerContainer{
    margin-top:0.9em;
}





